config.ini
scratchpad.py
token.json
credentials.json
email_test.py
__pycache__/constants.cpython-311.pyc
text_test.py
datetime.txt
datetime_test.py
twilio_status.log
.gitignore
pa_notify_alert_error.log
1_email_status.log
1_text_status.log
conversions.csv
conversions_2.csv
lrapa_vs_epa.xlsx
1_email_status_log.txt
.gitignore
last_daily_email_notification.txt
.gitignore
.gitignore
last_email_notification.txt
last_text_notification.txt
pa_notify_alert_error_log.txt
__pycache__/conversions.cpython-311.pyc
last_daily_text_notification.txt
1_text_status_log.txt
.gitignore
pa_notify_alert-MATRIX5.py
